{% extends 'base.html.twig' %}

{% block title %}Portfolio generator{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="alert alert-success mt-2" role="alert">Portfolio created!</div>
    <div class="card mt-2">
        <h5 class="card-header">Portfolio {{ portfolio.id }}</h5>
        <div class="card-body">
            <b>Allocations</b>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Shares</th>
                </tr>
                </thead>
                <tbody>
                {% for allocation in portfolio.allocations %}
                    <tr>
                        <td>{{ allocation.id }}</td>
                        <td>{{ allocation.shares }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
