{% extends 'base.html.twig' %}

{% block title %}Finizens index!{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="text-center mt-5">
        <h5>Select an option of the menu</h5>
    </div>
</div>
{% endblock %}
